html {
	font-size: 62.5%; /* Setting 1rem = 10px */
	font-family: 'Nunito Sans';
}
.logo {
	width: 250px;
	height: 110px;
}

.search-section {
	/* padding: 2rem 10rem; */
	height: 70rem;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* justify-content: space-evenly; */
	background-image: url('world-map.png');
}
.search-section-heading {
	width: 75.6rem;
}
.ssh-h2 {
	font-weight: 800;
	font-size: 9.6rem;
	line-height: 12.6rem;
	text-align: center;
	background: -webkit-radial-gradient(#71bbfd, #8c41fd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.s-form {
	height: 4.8;
}
.ssf-input-div {
	height: 100%;
	padding: 0.5rem 0.5rem;
	border: 1px solid #cbd4e6;
}
.ssf-input-div:first-child {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.ssf-input-input {
	height: 100%;
	width: 80%;
	/* padding-left: 0.5rem; */
	border: none;
	background-color: rgba(255, 255, 255, 0);
	color: #7c8db0;
	font-size: 18px;
	line-height: 2.5rem;
	font-weight: 400;
}
.ssf-input-input:focus-visible {
	border: none;
	outline: none;
}
.ssf-button-div {
	display: inline-block;
	width: 10%;
}
.ssf-button-button {
	width: 100%;
	height: 100%;
	background-color: #605dec;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.455rem;
	border: none;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
